.first_block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

p {
    width: 150px;
}

.item1, .item2{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
}

.item3, .item4 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
}

.second_block {
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: flex-end;
}

.item2_3 {
    order: 1;
}

.item2_4 {
    align-self: flex-start;
}

.third_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid red;
    align-content: center;
    height: auto;
    width: auto;
}

.item3_7, .item3_8{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 350px;
}

.item3_6, .item3_5{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 350px;
}

.item3_4, .item3_3{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 350px;
}

.item3_2, .item3_1{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 350px;
}








