.first_block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

p {
    width: 150px;
}

.item1, .item2{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
}

.item3, .item4 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
}





